html, body {
  height: 100%;
  margin: 0;
  background: #ece5da;
  
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: url(vids-and-imgs/1x/beanpointcursor.png),auto;
}

.open {
  max-width: 90%;
  max-height: 90vh;
  height: auto;
  display: block;
}

